{% extends "base.html" %}

{% block title %}
Register | CareerAI
{% endblock %}


{% block content %}

<div class="form-card">

    <h1>
        Create Account
    </h1>

    <p>
        Start your career preparation journey.
    </p>


    <form method="POST">

        <label>
            Name
        </label>

        <input
            type="text"
            name="name"
            placeholder="Enter your name"
            required
        >


        <label>
            Email
        </label>

        <input
            type="email"
            name="email"
            placeholder="you@example.com"
            required
        >


        <label>
            Password
        </label>

        <input
            type="password"
            name="password"
            placeholder="Minimum 6 characters"
            minlength="6"
            required
        >


        <button
            type="submit"
            class="button full"
        >
            Create Account
        </button>

    </form>


    <p class="small">

        Already registered?

        <a href="{{ url_for('login') }}">
            Login
        </a>

    </p>

</div>

{% endblock %}
